<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>详细信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业ID</label>
                                                <span><%= locals.data && data.company_id%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>法人</label>
                                                <span><%= locals.data && data.legal_person_name%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>法人身份证号码</label>
                                                <span><%= locals.data && data.legal_person_idnum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>法人联系方式 必须是手机号</label>
                                                <span><%= locals.data && data.legal_person_mobile%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>法人持股比例 非股份制填0 </label>
                                                <span><%= locals.data && data.legal_person_percent%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人姓名</label>
                                                <span><%= locals.data && data.controller_name%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人身份证号码</label>
                                                <span><%= locals.data && data.controller_idnum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人联系方式 必须是手机号</label>
                                                <span><%= locals.data && data.controller_mobile%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人持股比例  非股份制填0 </label>
                                                <span><%= locals.data && data.controller_percent%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人从业年限 单位年</label>
                                                <span><%= locals.data && data.controller_work_years%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人住址</label>
                                                <span><%= locals.data && data.controller_address%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人婚姻状况 1 已婚 2未婚 3离异 4丧偶</label>
                                                <span><%= locals.data && data.controller_marry_status%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人配偶姓名 当“实际控制人婚姻状况”是“已婚”时填写</label>
                                                <span><%= locals.data && data.controller_spouse_name%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人配偶身份证号码 当“实际控制人婚姻状况”是“已婚”时填写</label>
                                                <span><%= locals.data && data.controller_spouse_idnum%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人配偶联系方式 当“实际控制人婚姻状况”是“已婚”时填写，必须是手机号</label>
                                                <span><%= locals.data && data.controller_spouse_mobile%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人直系亲属姓名 当“实际控制人婚姻状况”不是“已婚”时填写</label>
                                                <span><%= locals.data && data.controller_relatives_name%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>实际控制人直系亲属身份证号码 当“实际控制人婚姻状况”不是“已婚”时填写</label>
                                                <span><%= locals.data && data.controller_relatives_idnum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人直系亲属联系方式 当“实际控制人婚姻状况”不是“已婚”时填写，必须是手机号</label>
                                                <span><%= locals.data && data.controller_relatives_mobile%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>直系亲属与实际控制人关系 手动填写，无选项</label>
                                                <span><%= locals.data && data.controller_relation%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人征信等级 1 正常类 2瑕疵类 3次级类 4禁入类</label>
                                                <span><%= locals.data && data.controller_level%>测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>