<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>修改信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>权限名称</label>
                                                <input type="text" name="contentName" value="<%= locals.data && data.contentName%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>权限类型</label>
                                                <input type="text" name="contentLevel" value="<%= locals.data && data.contentLevel%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>父权限</label>
                                                <input type="text" name="parentId" value="<%= locals.data && data.parentId%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>创建时间</label>
                                                <input type="text" name="createTime" value="<%= locals.data && data.createTime%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>链接</label>
                                                <input type="text" name="link" value="<%= locals.data && data.link%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否启用</label>
                                                <input type="text" name="enabled" value="<%= locals.data && data.enabled%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>备注</label>
                                                <input type="text" name="remark" value="<%= locals.data && data.remark%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>显示的顺序</label>
                                                <input type="text" name="showLevel" value="<%= locals.data && data.showLevel%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>0: no, 1: show</label>
                                                <input type="text" name="isShow" value="<%= locals.data && data.isShow%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>