<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div class="investment_f">
                                <div class="investment_con">
                                    <form class="form-inline querybox" action="#">
                                        <div class="form-group">
                                            <label>XXXXXXXX：</label>
                                            <input class="form-input" name="name" />
                                        </div>
                                        <button type="submit" class="btn btn-success btn-query">
                            <span class="glyphicon glyphicon-search btn_icon" aria-hidden="true">查询</span>
                        </button>
                                    </form>

                                    <div class="card card-box">
                                        <div class="list-header form-inline">
                                            <h4 class="title"><strong>列表</strong></h4>
                                            <div class="text-right handle-box">
                                                <a href="#" type="button" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
                                </a>
                                            </div>
                                        </div>
                                        <div class="card-content table-responsive">
                                            <table class="table table-box table-condensed table-bordered">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th>字段2</th>
                                                        <th>字段3</th>
                                                        <th>字段4</th>
                                                        <th>字段5</th>
                                                        <th>支持哪种方式 0,全部支持,1,联动,2，连连</th>
                                                        <th>字段7</th>
                                                        <th>连连单笔限额（-1无限制）</th>
                                                        <th>连连单日限额（-1无限制）</th>
                                                        <th>连连单月限额（-1无限制）</th>
                                                        <th>联动单月限额（-1无限制）</th>
                                                        <th>联动单笔限额（-1无限制）</th>
                                                        <th>联动单日限额（-1无限制）</th>
                                                        <th>字段14</th>
                                                        <th>字段15</th>
                                                        <th>字段16</th>
                                                        <th>富友单日限额</th>
                                                        <th>富友单笔限额</th>
                                                        <th>富友单月限额</th>
                                                        <th>字段20</th>
                                                        <th>字段21</th>
                                                        <th>字段22</th>
                                                        <th>字段23</th>
                                                        <th>支付优先级：1连连;5富友</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% !!locals.list &&list.rows.forEach((item, index)=>{ %>
                                                        <tr>
                                                            <td>
                                                                <%= item.maxInvestLimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.bankBrhName%>
                                                            </td>
                                                            <td>
                                                                <%= item.todayMaxInvestLimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.bankpic%>
                                                            </td>
                                                            <td>
                                                                <%= item.paytype%>
                                                            </td>
                                                            <td>
                                                                <%= item.bankno%>
                                                            </td>
                                                            <td>
                                                                <%= item.lianlianOrderlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.lianlianDaylimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.lianlianMonthlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.liandongMonthlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.liandongOrderlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.liandongDaylimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.chinapayMonthlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.chinapayOrderlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.chinapayDaylimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.fuyoupayDaylimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.fuyoupayOrderlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.fuyoupayMonthlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.jdpayOrderlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.jdpayDaylimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.jdpayMonthlimit%>
                                                            </td>
                                                            <td>
                                                                <%= item.shortName%>
                                                            </td>
                                                            <td>
                                                                <%= item.priority%>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                            <div class="tcdPageCode" style="padding-top: 10px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>