<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>修改信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>第三方渠道唯一标识key</label>
                                                <input type="text" name="customkey" value="<%= locals.data && data.customkey%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>ip限制，多数据逗号间隔</label>
                                                <input type="text" name="ip" value="<%= locals.data && data.ip%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>三方logo</label>
                                                <input type="text" name="customlogo" value="<%= locals.data && data.customlogo%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>渠道名称</label>
                                                <input type="text" name="customname" value="<%= locals.data && data.customname%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>盐值</label>
                                                <input type="text" name="salt" value="<%= locals.data && data.salt%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>渠道登录token的加密字段</label>
                                                <input type="text" name="customLoginKey" value="<%= locals.data && data.customLoginKey%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>渠道银行</label>
                                                <input type="text" name="channelBankNo" value="<%= locals.data && data.channelBankNo%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>渠道开通业务代码  </label>
                                                <input type="text" name="moduleNo" value="<%= locals.data && data.moduleNo%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>渠道编码</label>
                                                <input type="text" name="channelNo" value="<%= locals.data && data.channelNo%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>状态</label>
                                                <input type="text" name="status" value="<%= locals.data && data.status%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>是否显示固收 1,显示。  0,不显示</label>
                                                <input type="text" name="showP2p" value="<%= locals.data && data.showP2p%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否显示基金 1,显示。  0,不显示</label>
                                                <input type="text" name="showFund" value="<%= locals.data && data.showFund%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>是否显示保险 1,显示。  0,不显示</label>
                                                <input type="text" name="showInsurance" value="<%= locals.data && data.showInsurance%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>商户开户成功回调</label>
                                                <input type="text" name="companyOpenNotify" value="<%= locals.data && data.companyOpenNotify%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>合同通知url（仅限moduleNo=000002）</label>
                                                <input type="text" name="compactNotifyUrl" value="<%= locals.data && data.compactNotifyUrl%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>