<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>修改信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>进件编号</label>
                                                <input type="text" name="apply_no" value="<%= locals.data && data.apply_no%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>产品id</label>
                                                <input type="text" name="product_id" value="<%= locals.data && data.product_id%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业编号</label>
                                                <input type="text" name="company_id" value="<%= locals.data && data.company_id%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>创建时间</label>
                                                <input type="text" name="create_time" value="<%= locals.data && data.create_time%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>渠道号</label>
                                                <input type="text" name="app_id" value="<%= locals.data && data.app_id%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>打回原因</label>
                                                <input type="text" name="msg" value="<%= locals.data && data.msg%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>状态  3打回 有null情况</label>
                                                <input type="text" name="status" value="<%= locals.data && data.status%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>打回操作时间</label>
                                                <input type="text" name="approve_time" value="<%= locals.data && data.approve_time%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>