<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>修改信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>客户号码</label>
                                                <input type="text" name="company_id" value="<%= locals.data && data.company_id%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>统一社会信用代码</label>
                                                <input type="text" name="org_code" value="<%= locals.data && data.org_code%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业法定名称</label>
                                                <input type="text" name="company_name" value="<%= locals.data && data.company_name%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>企业类型</label>
                                                <input type="text" name="company_type" value="<%= locals.data && data.company_type%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业住所</label>
                                                <input type="text" name="company_address" value="<%= locals.data && data.company_address%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>法人</label>
                                                <input type="text" name="legal_person" value="<%= locals.data && data.legal_person%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>注册资本(元)</label>
                                                <input type="text" name="reg_amt" value="<%= locals.data && data.reg_amt%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>注册资本币种</label>
                                                <input type="text" name="reg_currency" value="<%= locals.data && data.reg_currency%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>成立日期</label>
                                                <input type="text" name="create_date" value="<%= locals.data && data.create_date%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>主营范围</label>
                                                <input type="text" name="main_biz" value="<%= locals.data && data.main_biz%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>兼营范围</label>
                                                <input type="text" name="slave_biz" value="<%= locals.data && data.slave_biz%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>登记注册类型</label>
                                                <input type="text" name="reg_type" value="<%= locals.data && data.reg_type%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>注册登记机关</label>
                                                <input type="text" name="reg_org" value="<%= locals.data && data.reg_org%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>注册登记日期</label>
                                                <input type="text" name="reg_date" value="<%= locals.data && data.reg_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>营业执照编号</label>
                                                <input type="text" name="license_num" value="<%= locals.data && data.license_num%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>手机号</label>
                                                <input type="text" name="mobile" value="<%= locals.data && data.mobile%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>注册地</label>
                                                <input type="text" name="reg_place" value="<%= locals.data && data.reg_place%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>证件类型</label>
                                                <input type="text" name="id_type" value="<%= locals.data && data.id_type%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>证件号码</label>
                                                <input type="text" name="id_num" value="<%= locals.data && data.id_num%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>组织机构登记日期</label>
                                                <input type="text" name="org_reg_date" value="<%= locals.data && data.org_reg_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>组织机构有效日期</label>
                                                <input type="text" name="org_valid_date" value="<%= locals.data && data.org_valid_date%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>组织机构代码证颁发机关</label>
                                                <input type="text" name="org_issue_org" value="<%= locals.data && data.org_issue_org%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>注册登记有效日期</label>
                                                <input type="text" name="reg_valid_date" value="<%= locals.data && data.reg_valid_date%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>已注册登记年检日期</label>
                                                <input type="text" name="reg_check_date" value="<%= locals.data && data.reg_check_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>经营状况</label>
                                                <input type="text" name="opt_status" value="<%= locals.data && data.opt_status%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>主要产品情况</label>
                                                <input type="text" name="main_product_info" value="<%= locals.data && data.main_product_info%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>经营场地面积(平方米)</label>
                                                <input type="text" name="opt_area_size" value="<%= locals.data && data.opt_area_size%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>经营场地所有权</label>
                                                <input type="text" name="opt_area_own" value="<%= locals.data && data.opt_area_own%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>财务部联系方式</label>
                                                <input type="text" name="financial_contact" value="<%= locals.data && data.financial_contact%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>投资主体</label>
                                                <input type="text" name="investment_subject" value="<%= locals.data && data.investment_subject%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>英文名称</label>
                                                <input type="text" name="eng_name" value="<%= locals.data && data.eng_name%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>国别</label>
                                                <input type="text" name="nation" value="<%= locals.data && data.nation%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业规模</label>
                                                <input type="text" name="enterprise_size" value="<%= locals.data && data.enterprise_size%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>从业人数</label>
                                                <input type="text" name="worker_amt" value="<%= locals.data && data.worker_amt%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>控股类型</label>
                                                <input type="text" name="holding_type" value="<%= locals.data && data.holding_type%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>财务报表类型</label>
                                                <input type="text" name="financial_report" value="<%= locals.data && data.financial_report%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>行业类型</label>
                                                <input type="text" name="industry_type" value="<%= locals.data && data.industry_type%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>基本账户开户行</label>
                                                <input type="text" name="basic_acct_bank" value="<%= locals.data && data.basic_acct_bank%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>基本账户账号</label>
                                                <input type="text" name="basic_acct_num" value="<%= locals.data && data.basic_acct_num%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>开户日期</label>
                                                <input type="text" name="acct_open_date" value="<%= locals.data && data.acct_open_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>上市公司标志</label>
                                                <input type="text" name="public_company_flag" value="<%= locals.data && data.public_company_flag%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>股票代码</label>
                                                <input type="text" name="stock_cd" value="<%= locals.data && data.stock_cd%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>上市地</label>
                                                <input type="text" name="listed_city" value="<%= locals.data && data.listed_city%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>集团客户标识</label>
                                                <input type="text" name="group_flag" value="<%= locals.data && data.group_flag%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>集团客户类型</label>
                                                <input type="text" name="group_type" value="<%= locals.data && data.group_type%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>上级公司名称</label>
                                                <input type="text" name="superior_name" value="<%= locals.data && data.superior_name%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>上级公司组织机构代码</label>
                                                <input type="text" name="superior_org_cd" value="<%= locals.data && data.superior_org_cd%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>集团融资形式</label>
                                                <input type="text" name="group_finance_way" value="<%= locals.data && data.group_finance_way%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>信用等级</label>
                                                <input type="text" name="cst_credit_level" value="<%= locals.data && data.cst_credit_level%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>信用评定日期</label>
                                                <input type="text" name="credit_evaluate_date" value="<%= locals.data && data.credit_evaluate_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>信用等级(外部)</label>
                                                <input type="text" name="credit_level_out" value="<%= locals.data && data.credit_level_out%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>信用等级评定日期（外部）</label>
                                                <input type="text" name="credit_evaluate_date_out" value="<%= locals.data && data.credit_evaluate_date_out%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>信用等级评定机构(外部)</label>
                                                <input type="text" name="credit_evaluate_org_out" value="<%= locals.data && data.credit_evaluate_org_out%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>企业隶属关系</label>
                                                <input type="text" name="company_membership" value="<%= locals.data && data.company_membership%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>客户种类：工业，商业，建筑业（房地产），农业，乡镇企业，私营企业，其他</label>
                                                <input type="text" name="cst_class" value="<%= locals.data && data.cst_class%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>进出口权标识</label>
                                                <input type="text" name="port_flag" value="<%= locals.data && data.port_flag%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>是否属特种经营</label>
                                                <input type="text" name="is_special_opt" value="<%= locals.data && data.is_special_opt%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>地区重点企业</label>
                                                <input type="text" name="is_point_company" value="<%= locals.data && data.is_point_company%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>优势企业</label>
                                                <input type="text" name="is_vantage_company" value="<%= locals.data && data.is_vantage_company%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否龙头企业</label>
                                                <input type="text" name="is_leader_company" value="<%= locals.data && data.is_leader_company%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>是否两高一剩企业</label>
                                                <input type="text" name="is_21_company" value="<%= locals.data && data.is_21_company%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>通过环评</label>
                                                <input type="text" name="is_env_through" value="<%= locals.data && data.is_env_through%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>环境行为等级</label>
                                                <input type="text" name="env_level" value="<%= locals.data && data.env_level%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>建立信贷关系时间</label>
                                                <input type="text" name="credit_rel_time" value="<%= locals.data && data.credit_rel_time%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>国资委下属企业</label>
                                                <input type="text" name="is_belong_gzw" value="<%= locals.data && data.is_belong_gzw%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>有无董事会</label>
                                                <input type="text" name="have_directorate" value="<%= locals.data && data.have_directorate%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业性质</label>
                                                <input type="text" name="firms_nature" value="<%= locals.data && data.firms_nature%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>经济类型:01-全民 02-集团 03-三资 04-个体 05-私营其他</label>
                                                <input type="text" name="economic_type" value="<%= locals.data && data.economic_type%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>地区编码</label>
                                                <input type="text" name="area_cd" value="<%= locals.data && data.area_cd%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>行政区域</label>
                                                <input type="text" name="region" value="<%= locals.data && data.region%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>行政区域2</label>
                                                <input type="text" name="region2" value="<%= locals.data && data.region2%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>主办机构</label>
                                                <input type="text" name="organizer_org" value="<%= locals.data && data.organizer_org%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>管理机构</label>
                                                <input type="text" name="manage_org" value="<%= locals.data && data.manage_org%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否合作商客户</label>
                                                <input type="text" name="is_co_company" value="<%= locals.data && data.is_co_company%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>系统评估额度</label>
                                                <input type="text" name="sys_credit" value="<%= locals.data && data.sys_credit%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>是否删除：0未删除，-1删除</label>
                                                <input type="text" name="de_flag" value="<%= locals.data && data.de_flag%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段78</label>
                                                <input type="text" name="company_email" value="<%= locals.data && data.company_email%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段79</label>
                                                <input type="text" name="lic_start_date" value="<%= locals.data && data.lic_start_date%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段80</label>
                                                <input type="text" name="lic_end_date" value="<%= locals.data && data.lic_end_date%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段81</label>
                                                <input type="text" name="bank_code" value="<%= locals.data && data.bank_code%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>