<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div class="investment_f">
                                <div class="investment_con">
                                    <form class="form-inline querybox" action="#">
                                        <div class="form-group">
                                            <label>XXXXXXXX：</label>
                                            <input class="form-input" name="name" />
                                        </div>
                                        <button type="submit" class="btn btn-success btn-query">
                            <span class="glyphicon glyphicon-search btn_icon" aria-hidden="true">查询</span>
                        </button>
                                    </form>

                                    <div class="card card-box">
                                        <div class="list-header form-inline">
                                            <h4 class="title"><strong>列表</strong></h4>
                                            <div class="text-right handle-box">
                                                <a href="#" type="button" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
                                </a>
                                            </div>
                                        </div>
                                        <div class="card-content table-responsive">
                                            <table class="table table-box table-condensed table-bordered">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th>车牌号码</th>
                                                        <th>车辆所有人</th>
                                                        <th>统一社会信用代码</th>
                                                        <th>ETC卡号</th>
                                                        <th>是否挂靠1是 0不是</th>
                                                        <th>是否贷款靠1是 0不是</th>
                                                        <th>是否缴纳商业险靠1是 0不是</th>
                                                        <th>商业险保额</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% !!locals.list &&list.rows.forEach((item, index)=>{ %>
                                                        <tr>
                                                            <td>
                                                                <%= item.car_no%>
                                                            </td>
                                                            <td>
                                                                <%= item.owner%>
                                                            </td>
                                                            <td>
                                                                <%= item.org_code%>
                                                            </td>
                                                            <td>
                                                                <%= item.etc_no%>
                                                            </td>
                                                            <td>
                                                                <%= item.linked%>
                                                            </td>
                                                            <td>
                                                                <%= item.loan%>
                                                            </td>
                                                            <td>
                                                                <%= item.insured%>
                                                            </td>
                                                            <td>
                                                                <%= item.insured_amt%>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                            <div class="tcdPageCode" style="padding-top: 10px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>