<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>详细信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段2</label>
                                                <span><%= locals.data && data.company_id%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>近3年行政处罚及不良记录  0-无记录 1-有记录已修正 2-有记录且未改进</label>
                                                <span><%= locals.data && data.near_three_yeras_admin_bad_note%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>企业近1年征信逾期记录 0-信用记录良好无逾期 1-出现过逾期但情节较轻 2-出现过逾期情节较重 3-出现过严重逾期或信用记录极差或当前扔处于逾期状态</label>
                                                <span><%= locals.data && data.company_near_one_years_overdue_note%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>实际控制人近1年逾期记录</label>
                                                <span><%= locals.data && data.controller_near_one_years_overdue_note%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>资产总额</label>
                                                <span><%= locals.data && data.assets_total%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>负债总额</label>
                                                <span><%= locals.data && data.liabilities_total%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>净利润</label>
                                                <span><%= locals.data && data.net_profit%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>营业收入</label>
                                                <span><%= locals.data && data.operate_income%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>平均应收账款</label>
                                                <span><%= locals.data && data.average_accounts_receivable%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>企业现金流量余额</label>
                                                <span><%= locals.data && data.company_cash_balance%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>经营活动现金流量</label>
                                                <span><%= locals.data && data.business_cash%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>本年销售收入增加额</label>
                                                <span><%= locals.data && data.this_year_sales_increase%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>上年销售收入总额</label>
                                                <span><%= locals.data && data.last_year_income_lump_sum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>本年度资产增长额</label>
                                                <span><%= locals.data && data.this_year_assets_growth%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>年初资产总额</label>
                                                <span><%= locals.data && data.early_assets_lump_sum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>财报是否经过审计</label>
                                                <span><%= locals.data && data.earnings_is_audit%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>业务稳定性</label>
                                                <span><%= locals.data && data.business_stability%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>企业品牌</label>
                                                <span><%= locals.data && data.company_brand%>测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>