<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>详细信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>用户id</label>
                                                <span><%= locals.data && data.user_id%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>开户银行卡（提现用）</label>
                                                <span><%= locals.data && data.bankCardNo%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>绑定状态0--解绑，  1--绑定  -1待激活</label>
                                                <span><%= locals.data && data.status%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>银行编号</label>
                                                <span><%= locals.data && data.bankNo%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>类型  1.充值  2，提现 3.企业对公帐号</label>
                                                <span><%= locals.data && data.transferType%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>银行预留手机号</label>
                                                <span><%= locals.data && data.bankCardPhoneNo%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>创建时间</label>
                                                <span><%= locals.data && data.creat_time%>测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>