<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>修改信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>序列名称</label>
                                                <input type="text" name="SEQUENCE_NAME" value="<%= locals.data && data.SEQUENCE_NAME%>" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label>当前值</label>
                                                <input type="text" name="CURRENT_VAL" value="<%= locals.data && data.CURRENT_VAL%>" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>递增步长</label>
                                                <input type="text" name="INCREMENT_STEP" value="<%= locals.data && data.INCREMENT_STEP%>" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>