<!DOCTYPE html>
<html>
<%- include ./../public/header %>

    <body>
        <div class="wrapper">
            <%- include ./../public/sidebar %>
                <div class="main-panel">
                    <%- include ./../public/nav %>
                        <div class="content" style="margin-top: 5px;">
                            <div style="padding: 14px">
                                <form action="#" method="post" class="form-check-rule edit_box">
                                    <div class="text-center bg-primary edit_title">
                                        <h4>详细信息</h4>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段2</label>
                                                <span><%= locals.data && data.createTime%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段3</label>
                                                <span><%= locals.data && data.batchId%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段4</label>
                                                <span><%= locals.data && data.passNum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段5</label>
                                                <span><%= locals.data && data.batchNum%>测试</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-1">
                                                <label>字段6</label>
                                                <span><%= locals.data && data.errorNum%>测试</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label>字段7</label>
                                                <span><%= locals.data && data.customkey%>测试</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <button class="btn btn-success" type="submit">添加</button>
                                        <a href="#" class="btn btn-success">返回</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>

</html>